---
import '../styles/global.css'

export interface Props {
  title?: string
  description?: string
  image?: string
  canonicalURL?: string
}

const {
  title = 'Maximilian Hagelstam',
  description = 'Developer based in Finland.',
  image = '/og.jpg',
  canonicalURL,
} = Astro.props

const url = canonicalURL || new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="en" class="bg-white text-black dark:bg-[#111010] dark:text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={url} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:site_name" content="Maximilian Hagelstam" />
    <meta property="og:locale" content="en-FI" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Robots -->
    <meta name="robots" content="index, follow" />
    <meta
      name="googlebot"
      content="index, follow, max-video-preview:-1, max-image-preview:large, max-snippet:-1"
    />

    <!-- Fonts -->
    <link
      rel="preload"
      href="/fonts/kaisei-tokumin-latin-700-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/kaisei-tokumin-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <style>
      @font-face {
        font-family: 'Kaisei Tokumin';
        src: url('/fonts/kaisei-tokumin-latin-700-normal.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'Kaisei Tokumin';
        src: url('/fonts/kaisei-tokumin-latin-400-normal.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body
    class="mx-4 mt-8 mb-40 flex max-w-4xl flex-col antialiased md:mt-20 md:flex-row lg:mx-auto lg:mt-32"
  >
    <slot />
  </body>
</html>
